doctype html

html
  block head
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet') 
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(type='text/javascript' async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML')
    script(type='text/javascript' src='/javascripts/scripts.js')
  body
    block content
