extends base

block content
  div(id='navbar-container')
    block navbar
  div(id='header-container')
    block header
  div(id='main-container')
    block main
  div(id='footer-container')
    block footer
