//-
  Form elements

mixin inputReplyForm(captchaSvg)
  h3 Post reply
  +inputForm(captchaSvg)

mixin inputThreadForm(captchaSvg)
  h3 Post thread
  +inputForm(captchaSvg)

mixin inputForm(captchaSvg)
  div
    form(method='post')
      table(class='postForm')
        +nameArea()
        +inputPart('E-mail', 'userEmail', 'email')
        +inputPart('Subject', 'userSubject', 'subject')
        +postArea()
        +captcha(captchaSvg)
        
        
mixin captcha(captchaSvg)
  if captchaSvg
    tr
      td 
        span!= captchaSvg
      td
        input(id='captcha' type="text" name='captcha')
                        
mixin inputPart (label, inputId, inputName)
  tr
    th #{label}:
      td 
        input(id=inputId type="text" name=inputName)

mixin postArea ()
  tr
    th Post:
    td
      textarea(name="text" rows="6" id="text")

mixin nameArea ()
  tr
    th Name:
    td
      input(id='userName' type="text" name="name")
      input(id='submit' type='submit' name='submit' value='Submit')
