//-
  Top bar

mixin topBar(returnLink)
  div(class='topBar')
    span(class='leftBar')
      a(href=returnLink) Return
    span(class='rightBar')
      a(href='/login') Login  

//-
  Header
mixin header(boardName, boardDescription, boardOwner)
  div(class='boardHeader')
    div(class='boardHeaderTitle') #{boardName}
    div(class='boardHeaderDescription')= boardDescription
  
//- Sticky    
mixin sticky()
  img(class='threadIcon' src='/images/sticky.png')
    
mixin locked()
  img(class='threadIcon' src='/images/locked.png')
