//-
  Login templates
  
include formTemplates
  
mixin loginForm()
  div
    form(method='post')
      table(class='loginForm')
        +inputPart('Username', 'userLoginName', 'name')
        +passwordPart('Password', 'userLoginPassword', 'password')
        tr
          td
            +submit()
