extends layout

block content
  h1 
    span Impala
  h3
    i The Minimalist's Forum
  p Welcome! You have successfully set up Impala, the minimalist forum software.
  p To set up the forum, install <code>redis</code> and open the server on port 6379
  h3 Forum usage
  p Use two dollar signs to implement $$\LaTeX$$
  p Use <code>&lt;strong&gt;</code>, <code>&lt;i&gt;</code>, and <code>&lt;strike&gt;</code> for markup.
