extends layout
include templates

block content
  +topBar('/site/')
  hr
  +header(settings.name, settings.description, settings.owner)
  hr
  +inputThreadForm(captchaSvg)
  hr
  +threadListFormat(threadList)
