extends layout

include templates/formTemplates
include templates/threadTemplates

block content
  +topBar('/site/')
  hr
  +header(settings.name, settings.description, settings.owner)
  hr
  +inputThreadForm(captchaSvg)
  hr
  +boardListFormat(boardList)
  hr
  +threadListFormat(threadList)
