extends layouts/site

include templates/form
include templates/nav
include templates/table

block navbar
  +navbar(userinfo)
    
block main
  +thread-form(settings, captcha)
  +lists-table(lists)
  +threads-table(threads, settings, userinfo)
      
  
