extends layout

include templates/formTemplates
include templates/postTemplates

block content
  +topBar('/site/'+settings.name)
  hr
  +header(settings.name, settings.description, settings.owner)
  hr
  +inputReplyForm(captchaSvg)
  hr
  +postListFormat(postList)
